@import '~bootstrap/scss/bootstrap';

.sidebar{
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
margin: 0px 2px;
background-color: orange;
  transition: right 1s ease-out;
  border: 2px outset rgba(78, 32, 32, 0.863);
  height: fit-content;
  font-family: 'Oswald', sans-serif;
  box-shadow: inset 0px 0px 100px 0px rgba(78, 32, 32, 0.863);
  // -webkit-text-stroke: .8px rgb(241, 228, 228);
  text-shadow: .33px .4px 1px white;
  }
